@font-face{
    font-family: 'Sk-modernist';
    src:url('fonts/Sk-Modernist-Bold.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

.image{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0;
    margin: 0;
}


#top {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    vertical-align: middle;
    height: 20px;
    width: 100%;
    background: rgba(128, 128, 128, 0.7);
    font-weight: 5;
    padding-bottom: 20px;
    position: fixed;
    text-align: center;
    padding-top: 20px;
    top: 0;
    z-index: 99;
}

.links
{
    margin-right: 20px;
    float: right;
}

.linkedin{
    float: right;
    margin-right: 150px;
}

.links:hover,.linkedin:hover{
    transition-duration: .4s;
    transform: scale(1.3);
}

.intro
{
    text-align: left;
    font-size: 20px;
}

#header
{
    font-family: 'Montserrat', sans-serif;
    color:white;
    width: 100%;
    height: 400px;
    background: black;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

#inner_header
{
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
    color:white;
    margin-left: 101px;
    width: 75%;
    height: 300px;
    background: black;
    font-size: 30px;
    font-weight: lighter;
    text-align: left;
    padding-top:100px;
}

#edu
{
    font-family: 'Montserrat', sans-serif;
    color:black;
    width: 100%;
    height: 200px;
    background: white;
    font-size: 30px;
    font-weight: bolder;
    padding-top:70px;
}



#inner_edu
{
    margin-left: 101px;
    text-align: left;
}

.school
{
    float: left;
}

.time
{
    float:right;
}

#skills
{
    font-family: 'Montserrat', sans-serif;
    color:white;
    width: 100%;
    height: 400px;
    background: black;
    font-size: 30px;
    font-weight: lighter;
}

#inner_skills
{
    overflow: auto;
    margin-left: 101px;
    width: 75%;
    text-align: left;
    padding-top:50px;
}

#pro
{
    margin-left: 101px;
    font-family: 'Montserrat', sans-serif;
    color:black;
    height: 600px;
    background: white;
    font-size: 30px;
    font-weight: lighter;
    display: grid;
            grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
            grid-gap: 20px;
}

#Project_Heading
{
    padding-top:50px;
    padding-bottom: 50px;
    font-size: 30px;
    margin-left: 101px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1200px) {
    #edu
    {
        height: 100px;
    }
    
    #inner_edu
    {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    #edu
    {
        height: 100px;
    }
    
    #inner_edu
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {


    .links {
        margin-right: 10px;
    }

    .linkedin{
        margin-right: 5px;
    }

    #header
    {
        height: 600px;
    }

    #inner_header{
        height: 500px;
    }

    #inner_pro
    {
        float:none;
        display:block;
    }
    
    #edu{
        height: 200px;
    }

    #inner_edu
    {
        font-size: 20px;
    }
    
    #skills
    {
        height: 600px;
    }

    #footer{
        font-size: small;
    }



    .time
    {
        float: left;
    }

   
    
   
  }

.probox{
    height: 500px;
    width:300px;
    background: white;
    color: black;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 10px;
}


.probox:hover{
    transition-duration: .4s;
    background: rgba(128,128,128,0.3);
}

.prodes
{
    text-align: center;
    padding: 10px;
    align-content: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.prodesmini
{
    text-align: left;
    padding-top: 25px;
    font-size: medium;
}




.button
{
    color: white;
    background: black;
    margin-top: 20px;
    border-radius: 10px;
    width: 70px;
    height: 50px;
    box-shadow: 5px 5px 1px #aaaaaa;
}

button:hover
{
    color: black;
    background: white;
    transition-duration: .4s;
    width: 75px;
    height: 55px;
}

.a1:link {
    text-decoration: none;
    color: black;
}


.a1:visited,
.a1:active {
    text-decoration: underline;
    color: black;
}

.a1:hover{
    color:black;
}

.a2:link {
    text-decoration: none;
    color: white;
}


.a2:visited,
.a2:active {
    text-decoration: underline;
    color: white;
}

.a2:hover{
    color:white;
}






.element{
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    overflow: auto;
  }


.body{
    
}


#footer,#footer.zoom {
    color: white;
    font-weight: bolder;
    height: 50px;
    width: 20%;
    position: fixed;
    bottom: 0px;
    left: 80%;
    background: rgba(128, 128, 128, 0.7);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    text-align: center;
    z-index: 99;
    padding-top: 20px;
    font-size: medium;
}



#footer:hover {
    cursor: pointer;
    transition-duration: 400ms;
    height: 60px;
}
